matrix:
  fast_finish: true

environment:
  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VCVARSALL: C:\"Program Files (x86)"\"Microsoft Visual Studio 14.0"\VC\vcvarsall.bat
      PLATFORM: x64
      CC: cl.exe
      CXX: cl.exe

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
      VCVARSALL: C:\"Program Files (x86)"\"Microsoft Visual Studio 14.0"\VC\vcvarsall.bat
      PLATFORM: x86
      CC: clang-cl.exe
      CXX: clang-cl.exe
      # https://gitlab.kitware.com/cmake/cmake/issues/16259.
      CFLAGS: -m32
      CXXFLAGS: -m32

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VCVARSALL: C:\"Program Files (x86)"\"Microsoft Visual Studio"\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
      PLATFORM: x86
      CC: cl.exe
      CXX: cl.exe

    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      VCVARSALL: C:\"Program Files (x86)"\"Microsoft Visual Studio"\2017\Community\VC\Auxiliary\Build\vcvarsall.bat
      PLATFORM: x64
      CC: clang-cl.exe
      CXX: clang-cl.exe
      CFLAGS: -m64
      CXXFLAGS: -m64

install:
    # LLVM's (clang-cl) MSBuild integration is outdated so we use Ninja instead.
  - ps: iex (new-object net.webclient).downloadstring('https://get.scoop.sh')
  - ps: scoop install ninja

before_build:
  # Set MSVC's enviroment variables.
  - call %VCVARSALL% %PLATFORM%
  # Build reproc as a shared library to verify all the necessary symbols are
  # exported from the dll's.
  - cmake
      -B build
      -S .
      -G Ninja
      -DCMAKE_BUILD_TYPE=Debug
      -DBUILD_SHARED_LIBS=ON
      -DREPROC++=ON
      -DREPROC_TESTS=ON
      -DREPROC_EXAMPLES=ON
      -DREPROC_WARNINGS_AS_ERRORS=ON
      -DREPROC_TIDY=ON

build_script: cmake --build build --parallel 2

before_test:
  # Make sure the tests and examples can find the reproc and reproc++ dll's.
  - set PATH=%APPVEYOR_BUILD_FOLDER%/build/reproc/lib;%PATH%
  - set PATH=%APPVEYOR_BUILD_FOLDER%/build/reproc++/lib;%PATH%

test_script:
  - build\tests
  # Make sure the examples don't crash or return a non-zero exit code.
  - build\reproc\examples\drain >NUL
  - build\reproc\examples\git-status >NUL
  - build\reproc++\examples\background cmake --help >NUL
  - build\reproc++\examples\cmake-help >NUL
  - build\reproc++\examples\forward cmake --help >NUL
