---
Checks:
'
*,
-bugprone-exception-escape,
-cert-err58-cpp,
-clang-diagnostic-unused-command-line-argument,
-cppcoreguidelines-avoid-magic-numbers,
-fuchsia-default-arguments,
-fuchsia-overloaded-operator,
-fuchsia-statically-constructed-objects,
-google-runtime-references,
-hicpp-multiway-paths-covered,
-hicpp-signed-bitwise,
-readability-else-after-return,
-readability-magic-numbers
'
...

