---
BasedOnStyle: LLVM
---
Language: Cpp
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BreakBeforeBraces: Linux
Cpp11BracedListStyle: false
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
SpaceAfterCStyleCast: true
IndentPPDirectives: AfterHash
