---
BasedOnStyle: LLVM
---
Language: Cpp
BreakBeforeBraces: Linux
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
SpaceAfterCStyleCast: true
AllowShortCaseLabelsOnASingleLine: true
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
Cpp11BracedListStyle: false
